%header.masthead
  .container
    .row.page_header.admin
      .col-md-4
        %h1 Banor

      .col-md-8#leftCol
        %ul.nav.nav-tabs.pull-right
          %li
            = link_to (fa_icon "plus", text: "Ny bana"), new_course_path

    .row.spacing
      = render :partial => 'admins/partials/menu'

      .col-md-10
        %table.table.table-hover
          %thead
            %th Namn
            %th Klubb
            %th Antal hål
            %th Tee(s)
            %th Actions
          %tbody
            - @courses.each do |u|
              %tr
                %td= link_to u.name, course_path(u)
                %td= u.club.name
                %td= u.holes
                %td
                  - u.tees.each do |t|
                    = t.color
                %td
                  = link_to "", edit_course_path(u), class: "glyphicon glyphicon-pencil"
                  = link_to "", new_tee_path, class: "glyphicon glyphicon-plus"
