%header.masthead
  .container
    .row
      .col-md-6
        %h1
          Rundor
          %p.lead Nedan visas rundor
        = link_to 'New Round', new_round_path


.col-md-12
  %table.table.table-hover
    %thead
      %th Datum
      %th Spelare
      %th Bana
      %th Resultat
      %th Score?
      %th
    %tbody
      - @rounds.each do |r|
        %tr
          %td= r.tour_part.date.strftime("%Y-%m-%d")
          %td= r.user.name
          %td= "#{r.course.name} - #{r.tee.color}"
          %td= r.total
          %td
            = link_to "", new_score_path(r.id), class: 'glyphicon glyphicon-plus'
          %td
            = link_to "", round_path(r), class: "glyphicon glyphicon-user"
            = link_to "", edit_round_path(r), class: "glyphicon glyphicon-pencil"
            = link_to "", round_path(r), method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash'
