%header.masthead
  .container
    .row.page_header.admin
      .col-md-4
        %h1 Rundor
        = link_to 'New Round', new_round_path

      .col-md-8#leftCol
        %ul.nav.nav-tabs.pull-right
          %li
            = link_to (fa_icon "plus", text: "Ny runda"), new_round_path

    .row.spacing
      = render :partial => 'admins/partials/menu'

      .col-md-10
        - @tour_parts.each do |tour|
          %table.table.table-hover
            %thead
              %th Datum
              %th Spelare
              %th Bana
              %th Resultat
              %th Score?
              %th
            %tbody
              - tour.rounds.each do |r|
                %tr
                  %td= r.tour_part.date.strftime("%Y-%m-%d")
                  %td= r.user.name
                  %td= "#{r.course.name} - #{r.tee.color}"
                  %td= r.total
                  %td
                    = link_to "", new_score_path(r.id), class: 'glyphicon glyphicon-plus'
                  %td
                    = link_to "", round_path(r), class: "glyphicon glyphicon-user"
                    = link_to "", edit_score_path(r), class: "glyphicon glyphicon-pencil"
                    = link_to "", round_path(r), method: :delete, class: 'glyphicon glyphicon-trash'

        .text-center
          = will_paginate @tour_parts
