%header.masthead
  .container
    .row.page_header.admin
      .col-md-6
        %h1 Teepads

    .row.spacing
      = render :partial => 'admins/partials/menu'

      .col-md-10
        %table.table.table-hover
          %thead
            %th Färg
            %th Bana
            %th Antal hål
            %th Actions
          %tbody
            - @tees.each do |t|
              %tr
                %td= link_to t.color, tee_path(t)
                %td= t.course.name
                %td= t.holes.count
                %td
                  = link_to "", edit_tee_path(t), class: "glyphicon glyphicon-pencil"
                  = link_to "", new_hole_path, class: "glyphicon glyphicon-plus"
