%header.masthead
  .container
    .row.page_header.admin
      .col-md-4
        %h1 Deltävlingar

      .col-md-8#leftCol
        %ul.nav.nav-tabs.pull-right
          %li
            = link_to (fa_icon "plus", text: "Ny deltävling"), new_tour_part_path

    .row.spacing
      = render :partial => 'admins/partials/menu'

      .col-md-10
        %table.table.table-hover
          %thead
            %th Namn
            %th Tävling
            %th Tee
            %th Datum
            %th Lägg till runda
            %th
          %tbody
            - @tour_parts.each do |u|
              %tr
                %td= u.name
                %td= link_to u.competition.name, competition_path(u.competition)
                %td= u.tee.color
                %td= u.date.strftime("%Y-%m-%d")
                %td= link_to "Lägg till", new_round_path(id: u)
                %td
                  = link_to "", edit_tour_part_path(u), class: "glyphicon glyphicon-pencil"
                  = link_to "", tour_part_path(u), method: :delete, class: 'glyphicon glyphicon-trash'

        .text-center
          = will_paginate @tour_parts
