%header.masthead
  .container
    .row
      .col-md-6
        %h1
          Deltävlingar
          %p.lead Nedan visas #{@tour_parts.count} tävlingar
        = link_to "Ny tävling", new_tour_part_path


.col-md-12
  %table.table.table-hover
    %thead
      %th Namn
      %th Tävling
      %th Datum
      %th Lägg till runda
      %th
    %tbody
      - @tour_parts.each do |u|
        %tr
          %td= u.name
          %td= link_to u.competition.name, competition_path(u.competition)
          %td= u.date.strftime("%Y-%m-%d")
          %td= link_to "Lägg till", new_round_path(id: u)
          %td
            = link_to "", edit_tour_part_path(u), class: "glyphicon glyphicon-pencil"
