%header.masthead
  .container
    .row
      .col-md-6
        %h1
          Användare
          %p.lead Nedan visas #{@users.count} användare
        = link_to "Ny spelare", new_user_path, class: 'btn btn-success'


.col-md-12
  %table.table.table-hover
    %thead
      %th Namn
      %th PDGA #
      %th Division
      %th Email
      %th Klubb
      %th
    %tbody
      - @users.each do |u|
        %tr
          %td= u.name
          %td= "##{u.pdga}"
          %td= u.division
          %td= u.email
          %td= u.club.name
          %td
            = link_to "", user_path(u), class: "glyphicon glyphicon-user"
            = link_to "", edit_user_path(u), class: "glyphicon glyphicon-pencil"
