%header.masthead
  .container
    .row.page_header.admin
      .col-md-6
        %h1 Användare

    .row.spacing
      = render :partial => 'admins/partials/menu'

      .col-md-10
        %table.table.table-hover
          %thead
            %th Namn
            %th PDGA #
            %th Division
            %th Email
            %th Klubb
            %th
          %tbody
            - @users.each do |u|
              %tr
                %td= u.name
                %td= "##{u.pdga}"
                %td= u.division
                %td= u.email
                %td= u.club.name
                %td
                  = link_to "", user_path(u), class: "glyphicon glyphicon-user"
                  = link_to "", edit_user_path(u), class: "glyphicon glyphicon-pencil"

        .text-center
          = will_paginate @users
