%header.masthead
  .container
    .row.spacing.page_header.normal
      .col-md-8
        %h1
          = t(:Tournaments)
        - if @search
          %small
            = "Visar sökresultat för '#{@search}' - "
            = link_to "Visa alla", competitions_path
        - else
          %small= t(:All_shown, resource: t(:Tournaments).downcase)

    .row.spacing
      .col-md-12
        .input-group
          = form_tag competitions_path, method: :get do
            = text_field_tag :term, @search, size: 32, placeholder: t(:Search_resource, resource: t(:Tournaments).downcase), class: "form-control"
          %span.input-group-btn
            = submit_tag t(:Search), type: "button", class: "btn btn-primary"

    .row.spacing
      - @competitions.each do |comp|
        .col-md-4
          .event
            .col-md-3
              = fa_icon "trophy", class: "fa-4x padding-icon"
            .col-md-9
              %ul
                %li
                  %h5
                    = link_to comp.name, competition_path(comp.id)
                %li= fa_icon "calendar", class: "fa-1x", text: comp.date.strftime("%Y-%m-%d")

    - if @tags
      .row
        .col-md-12
          %p
            = "Visar sökresultat taggad med"
            %span.tag= @search
      .row
        - @tags.each do |comp|
          .col-md-4
            .event
              .col-md-3
                = fa_icon "trophy", class: "fa-4x padding-icon"
              .col-md-9
                %ul
                  %li
                    %h5
                      = link_to comp.name, competition_path(comp.id)
                  %li= fa_icon "calendar", class: "fa-1x", text: comp.date.strftime("%Y-%m-%d")
