.container
  - @tees.each do |tee|
    .row
      .col-md-12
        %h2.highlight= "#{t(:Record_rounds)} - #{tee.color} tee"
        %table.table.table-hover
          %tbody
            %tr
              %td Nr
              - tee.holes.each do |h|
                %td= h.number
            %tr
              %td= t(:Length)
              - tee.holes.each do |h|
                %td= h.length

            %tr
              - tee.rounds.limit(20).each do |r|
                %tr
                  %td
                    = link_to r.user.name, user_path(r.user.id)

                  - r.scores.each do |s|
                    %td{class: "#{s.result_type} #{get_ob_stroke(s.ob)} text-center"}= s.score
                  %td= calc_score(r.total, r.tee.par)
  .row.spacing
    - unless @bogeyfree_rounds.blank?
      .col-md-12
        %h2.highlight= t(:bogeyfree_rounds)
        %table.table.table-hover
          %tbody
            %tr
              %td= t(:Name)
              %td Tee
              - @tees.first.holes.each do |h|
                %td= h.number
          - @bogeyfree_rounds.each do |round|
            %tr
              %td= round.user.name
              %td= round.tee.color
              - round.scores.each do |s|
                %td{class: "#{s.result_type} #{get_ob_stroke(s.ob)} text-center"}= "#{s.score}"
              %td= calc_score(round.total, round.tee.par)
