= render :partial => 'competitions/partials/header', locals: {title: @page_title}

.container
  .row.spacing
    .col-md-3
      %ul.list-group
        %li.list-group-item
          %span.badge= @competition.tour_parts.count
          = @competition.name
        - @tour_parts.each do |tour|
          %li.list-group-item
            %span.badge= tour.date.strftime("%Y-%m-%d")
            = link_to tour.name, competition_statistics_path(id: @competition.id, tour_part: tour.id), class: tour.id == @tour_part.id ? 'active' : ''
    .col-md-9
      .col-md-12.charts
        - @graphs.each do |graph|
          = link_to fa_icon(graph.last), competition_statistics_path(id: @competition.id, tour_part: @tour_part.id, graph: graph.first), class: "pull-right graph-button #{graph.first == @graph_type ? 'active' : ''}"
        .col-md-12{id: "line_chart"}
          = high_chart("line_chart", @line_chart)
      .col-md-12.charts
        .col-md-6{id: "pie_chart"}
          = high_chart("pie_chart", @pie_chart) do |c|
            = raw "options.tooltip.formatter = function() {return this.point.name +'</b>: '+ this.y +' st';}"
            = raw "options.plotOptions.pie.dataLabels.formatter = function() { return this.point.name; }"
        .col-md-6#all_totals
          = high_chart("all_totals", @pie_chart_total)

  .row.spacing
