= render :partial => 'competitions/partials/header', locals: {title: @page_title, heading: @heading}

.container
  .row
    .col-md-5
      %h2.highlight= t(:Players)
      %table.table.table-hover
        %thead
          %th= t(:Name)
          %th= t(:Club)
          %th= t(:Tour_parts)
        %tbody
          - @users.each do |user|
            %tr
              %td= user.name
              %td= user.club_name
              %td= "#{user.rounds_count} #{t(:St)}"
