= form_for(@score) do |f|
  -if @score.errors.any?
    .error_explanation
      %ul
        = @score.errors.full_messages.each do |message|
          %li= message

    -# - @scores.each do |s|
    -#   .form-group
    -#     = f.number_field :score, placeholder: 'resultat', class: 'form-control'

  .form-group
    = text_field_tag :scores, '', class: 'form-control'

  = hidden_field_tag :user_id, @round.user_id
  = hidden_field_tag :round_id, @round.id
  = hidden_field_tag :tee_id, @round.tee_id

  .form-group
    = f.submit :Spara, class: 'btn btn-sm btn-primary'
