= form_for(@score) do |f|
  -if @score.errors.any?
    .error_explanation
      %ul
        = @score.errors.full_messages.each do |message|
          %li= message

    - @scores.each do |s|
      .form-group
        = f.number_field :score, placeholder: 'resultat', class: 'form-control'

  = hidden_field(:user_id, @score.user_id)
  = hidden_field(:round_id, @score.user_id)
  = hidden_field(:tee_id, @score.user_id)

  .form-group
    = f.submit :Spara, class: 'btn btn-sm btn-primary'
