.row
  = form_for(@round) do |f|
    .col-md-4
      .form-group
        = f.collection_select(:user_id, User.by_name, :id, :name, class: 'form-control')
      .form-group
        = f.collection_select(:competition_id, Competition.by_name, :id, :name, class: 'form-control')
      .form-group
        = f.collection_select(:tour_part_id, TourPart.all, :id, :name, class: 'form-control')
      .form-group
        = f.number_field :total, placeholder: 'resultat', class: 'form-control'
      .form-group
        = f.number_field :place, placeholder: 'placering', class: 'form-control'
      .form-group
        = f.submit :Spara, class: 'btn btn-sm btn-primary'
