<p id="notice"><%= notice %></p>

<h1>Listing Tour Parts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Course</th>
      <th>Competition</th>
      <th>Tee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tour_parts.each do |tour_part| %>
      <tr>
        <td><%= tour_part.name %></td>
        <td><%= tour_part.content %></td>
        <td><%= tour_part.course_id %></td>
        <td><%= tour_part.competition_id %></td>
        <td><%= tour_part.tee_id %></td>
        <td><%= link_to 'Show', tour_part %></td>
        <td><%= link_to 'Edit', edit_tour_part_path(tour_part) %></td>
        <td><%= link_to 'Destroy', tour_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour part', new_tour_part_path %>
