%header.masthead
  .container
    .row.spacing.page_header.normal
      .col-md-12
        .col-md-8
          %h1= @tour_part.name
          %small
            = link_to @tour_part.competition.name, competition_path(@tour_part.competition.id)
            = " - #{@tour_part.competition.club.name}"

        .col-md-4.info
          .col-md-6
            %p
              Datum:
              %strong= @tour_part.date.strftime("%Y-%m-%-d")
          .col-md-6
            %p
              Spelare:
              %strong= @rounds.count
          .col-md-6
            %p
              Bana:
              %strong= "#{@tour_part.course.name} #{@tee.color}"
          .col-md-6
            %p
              Snitt:
              %strong= calc_total_score(@scores.map(&:score).inject(:+), @rounds.count, @tee.par)

.container
  .row.spacing
    .col-md-12
      %h3
      %table.table.table-hover
        %tbody
          %tr
            %td Nr
            - @holes.each do |h|
              %td.text-center= link_to h.number, hole_path(h)

          %tr
            %td Längd
            - @holes.each do |h|
              %td.text-center= "#{h.length} m"

          - @rounds.each do |r|
            %tr
              %td
                = link_to "#{r.place} #{r.user.name}", user_path(r.user.id)

              - r.scores.each do |s|
                %td{class: "#{get_score(s.score, s.hole.par)} #{get_ob_stroke(s.ob)} text-center"}= "#{s.score}"
              - if @headtohead
                %td= link_to calc_score(r.total, @tee.par), statistics_headtohead_path(tour_part: @tour_part.id, user: r.user_id)
              - else
                %td= calc_score(r.total, @tee.par)
              %td 100
