%header.masthead
  .container
    .row
      .col-md-6
        %h1
          Spelare

    .row
      .col-md-12
        %table.table.table-striped
          %thead
            %tr
              %th Namn
              %th Klubb
              %th PDGA #
              %th Division
              %th Tävlingar
          %tbody
            - @users.each do |u|
              %tr
                %td
                  = link_to u.name, user_path(u)
                %td= u.club.name
                %td
                  = "##{u.pdga}" unless blank?
                %td= u.division
                %td= u.rounds_count

    .row.text-center
      .col-md-12
        = will_paginate @users
