%header.masthead
  .container
    .row
      .col-md-6
        %h1
          Spelare
          %p.lead Nedan visas #{@users.count} användare

    .row
      .col-md-12
        %table.table.table-striped
          %thead
            %tr
              %th Namn
              %th Klubb
              %th PDGA #
              %th Division
              %th Tävlingar
          %tbody
            - @users.each do |u|
              %tr
                %td= u.name
                %td= u.club.name
                %td
                  = "##{u.pdga}" unless blank?
                %td= u.division
                %td 10
