%header.masthead
  .container
    .row.spacing.page_header.normal
      .col-md-8
        %h1
          = t(:Players)
        - if @search
          %small
            = "Visar sökresultat för '#{@search}' - "
            = link_to "Visa alla", users_path
        - else
          %small= t(:All_shown, resource: t(:Players).downcase)

    .row.spacing
      .col-md-12
        .input-group.middle
          = form_tag users_path, method: :get do
            = text_field_tag :term, @search, size: 32, placeholder: t(:Search_resource, resource: t(:Players).downcase), class: "form-control"
          %span.input-group-btn
            = submit_tag t(:Search), type: "button", class: "btn btn-primary"

    .row.spacing
      .col-md-12
        %table.table.table-striped
          %thead
            %tr
              %th= t(:Name)
              %th= t(:Club)
              %th= t(:Pdga)
              %th= t(:Division)
              %th= t(:Tournaments)
          %tbody
            - @users.each do |u|
              %tr
                %td
                  = link_to u.name, user_path(u)
                %td= u.club.name
                %td
                  = "##{u.pdga}" unless blank?
                %td= u.division
                %td= u.rounds_count

    .row.text-center
      .col-md-12
        = will_paginate @users
