%header.masthead
  .container
    .row.spacing.page_header.normal
      .col-md-8
        %h1
          Spelare
        - if @search
          %small
            = "Visar sökresultat för '#{@search}' - "
            = link_to "Visa alla", users_path
        - else
          %small Visar alla spelare

      .col-md-4
        .input-group.middle
          = form_tag users_path, method: :get do
            = text_field_tag :term, @search, size: 32, placeholder: "Sök spelare..", class: "form-control"
          %span.input-group-btn
            = submit_tag "Sök", type: "button", class: "btn btn-primary"

    .row
      .col-md-12
        %table.table.table-striped
          %thead
            %tr
              %th Namn
              %th Klubb
              %th PDGA #
              %th Division
              %th Tävlingar
          %tbody
            - @users.each do |u|
              %tr
                %td
                  = link_to u.name, user_path(u)
                %td= u.club.name
                %td
                  = "##{u.pdga}" unless blank?
                %td= u.division
                %td= u.rounds_count

    .row.text-center
      .col-md-12
        = will_paginate @users
