<p id="notice"><%= notice %></p>

<p>
  <strong>Comp name:</strong>
  <%= @import.comp_name %>
</p>

<p>
  <strong>Tour name:</strong>
  <%= @import.tour_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @import.date %>
</p>

<p>
  <strong>Club:</strong>
  <%= @import.club %>
</p>

<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
