.row
  = form_for(@course) do |f|
    .col-md-4
      .form-group
        = f.text_field :name, placeholder: "namn", class: 'form-control'
      .form-group
        = f.text_area :content, placeholder: "beskrivning", class: 'form-control'
      .form-group
        = f.number_field :holes, placeholder: "antal hål", class: 'form-control'
      .form-group
        = f.collection_select(:club_id, Club.all, :id, :name, class: 'form-control')
      .form-group
        = f.submit :Spara, class: 'btn btn-sm btn-primary'
