-#= render :partial => 'courses/partials/header', locals: {title: @page_title, heading: @heading}

.container
  .row
    = image_tag("IMG_1006.JPG", width: "100%")
  .row.spacing
    - @tees.each do |t|
      .col-md-12
        %h2.highlight= "#{t.color} - par #{t.par}"
        %table.table.table-striped
          %tbody
            %tr
              %td Nr
              - t.holes.each do |h|
                %td= link_to h.number, hole_path(h)
            %tr
              %td Längd
              - t.holes.each do |h|
                %td= link_to "#{h.length} m", hole_path(h)
            %tr
              %td Par
              - t.holes.each do |h|
                %td= link_to h.par, hole_path(h)
