<div class="row">

<div class="col-xs-12">
    <div class="col-xs-12">
        <h4>Categories</h4>
    </div>   
</div>

<div class="col-xs-12">

<% @categories.each do |c| %>
    <div class="col-xs-2">
        <ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= c.microposts.count %></span>
    <td><%= link_to c.name, c %></td>
  </li>
</ul>
    </div>
<% end %>
</div>
  
<div class="col-xs-12">  

<% @microposts.each do |micropost| %>

<div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= link_to micropost.heading, micropost %> | <small> <%= micropost.category.name %></small></h3>
      </div>
    <div class="panel-body">
    
    <%= truncate micropost.desc.html_safe, length: 80 %>
        <code><%= truncate micropost.content.html_safe, length: 60 %></code>

    </div>
    </div>
</div>
    
<% end %>

<br>

<div class="col-xs-12">
  
</div>


</div>
</div>