.container
  .row.spacing.page_header.normal
    .col-md-4
      %h1= @heading
      %small Här kan du se statistik för varje enskild deltväling.
      -# %span= fa_icon "tags", class: "black"
      -# - @competition.tag_list.each do |tag|
      -#   %span.tag= link_to tag, competitions_path(term: tag)


    .col-md-8#leftCol
      %ul.nav.nav-tabs.pull-right
        %li
          = link_to (fa_icon "home", text: "Startsida"), competition_path(@competition), class: (title == "Startsida" ? 'active' : '')
        %li
          = link_to (fa_icon "info", text: "Deltävlingar"), competition_tours_path(id: @competition), class: (title == "Deltävlingar" ? 'active' : '')
        %li
          = link_to (fa_icon "trophy", text: "Totalställning"), competition_totals_path(id: @competition.id), class: (title == "Totalställning" ? 'active' : '')
        %li
          = link_to (fa_icon "bullseye", text: "Rekordrundor"), competition_records_path(id: @competition.id), class: (title == "Rekordrundor" ? 'active' : '')
        %li
          = link_to (fa_icon "area-chart", text: "Statistik"), competition_statistics_path(id: @competition.id), class: (title == "Statistik" ? 'active' : '')
