<p id="notice"><%= notice %></p>

<div class="row">

<div class="col-xs-12">
    <div class="col-xs-12">
  <h4>Category: <%= @category.name %></h4>
  <span class=""> <%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %>
</span>
<hr class="divider"/>
  </div>

  </div>
  
  <div class="col-xs-12">  

<% @category.microposts.each do |micropost| %>

<div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= link_to micropost.heading, micropost %></h3>
      </div>
    <div class="panel-body">
    <p><%= micropost.desc %></p>
        <code><%= truncate micropost.content, length: 60 %></code><br><br>
        <td><%= link_to 'Show', micropost %></td>
        <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
        <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
    </div>
</div>
    
<% end %>

<br>

<div class="col-xs-12">
  
</div>


</div>
</div>