<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Code Snippets</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav>
        <a class="navbar-brand" href="/">code snippet</a>
          <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
          	<li><%= link_to 'New Snippet', new_micropost_path %></li>
            <li><%= link_to 'New Category', new_category_path %></li>
            <li><%= link_to current_user.name,   user_path(current_user) %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Log in", '/login' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>	
    </div>
  </body>
</html>