!!!
%html
  %head
    %title

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :application, data: { turbolinks_track: true }
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-static-top
      .container
        .navbar-brand
          = link_to "dgstats", "/"
        .navbar-collapse.collapse
          %ul.nav.navbar-right.navbar-nav
            %li
              = link_to "Tävlingar", competitions_path
            %li
              = link_to "Spelare", users_path
            - if current_user
              %li= link_to (fa_icon "user"), user_path(current_user)
              %li.dropdown
                = link_to (fa_icon "cog"), "#", class: "dropdown-toggle", toggle: "dropdown"
                %ul.dropdown-menu{data: {role: "menu"}}
                  %li= link_to "Kontrollpanel", admin_path
            - else
              %li
                = link_to "Logga in", sessions_new_path


          -# %ul.nav.navbar-right.navbar-nav
          -#   - if logged_in?
          -#     %li
          -#       = link_to "", user_path(current_user), class: "glyphicon glyphicon-user"
          -#     - if current_user.admin?
          -#       %li
          -#         = link_to "", admin_path, class: "glyphicon glyphicon-cog"
          -#     %li
          -#       = link_to "", logout_path, method: :delete, class: "glyphicon glyphicon-log-out"
          -#   - else
          -#     %li
          -#       = link_to "", login_path, class: "glyphicon glyphicon-log-in"

    .container
      .no-gutter.row
        - if notice
          .alert.alert-success
            = notice
        - if alert
          .alert.alert-danger
            = alert
    .container.white
      .row
        = yield

    %footer.footer
      = render :partial => 'layouts/footer'
